<%- include("./partials/header")-%>
    <%- include("./partials/navbar")-%>
        <%- include("./partials/flash")%>
            <div>Error page</div>

            <%- include("./partials/footer")-%>